@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.card {
  width: 100%;
  max-width: 650px;
  height: 15rem;
  padding: 1rem;
  background-color: white;

  @include tablet {
    width: 100%;
    max-width: 400px;
    height: 24.25rem;
    padding: 1.3rem;
    margin: 0.8rem;
  }
  @include desktop {
    width: 19.813rem;
    height: 24.25rem;
    padding: 1.3rem;
  }
  @include wide {
    width: 19.813rem;
    height: 24.25rem;
    padding: 1.3rem;
  }
}

.smallcard {
  width: 20.438rem;
  height: 7.5rem;
  border: 1px solid black;
  padding: 0.7rem;
  border-radius: 15px;
  background-color: white;

  @include tablet {
    width: 30.375rem;
    height: 8.25rem;
    padding: 1.2rem 0.2rem 1rem 1.4rem;
  }
  @include desktop {
    width: 20.375rem;
    height: 8.25rem;
    padding: 1.2rem 0.2rem 1rem 1.4rem;
  }
  @include wide {
    width: 30.375rem;
    height: 8.25rem;
    padding: 1.2rem 0.2rem 1rem 1.4rem;
  }
}
