// colors

$primary-color-500: #3563e9;
$primary-color-0: #fff;
$primary-dark-color-700: #1a37a7;
$text-color-500: #1a202c;
$text-light-color-300: #90a3bf;
$text-light-color-400: #596780;
$heart-color: #ed3f3f;
$footer-text-color: #131313; // <-- add transparency 60%

// typography
$font-jakarta: "Plus Jakarta Sans", sans-serif; // Fixed font name!

// font-weight
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// font-sizes
$text-xs: 0.75rem; // 12px
$text-sm: 0.875rem; // 14px
$text-base: 1rem; // 16px
$text-md: 1.125rem; // 18px
$text-lg: 1.25rem; // 20px
$text-xl: 1.5rem; // 24px
$text-2xl: 1.875rem; // 30px
$text-3xl: 2.25rem; // 36px
$text-4xl: 3rem; // 48px
$text-5xl: 4.5rem; // 72px
