@use "abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "components/button";
@use "components/card";
@use "layout/header";
@use "layout/sidebar";
@use "layout/footer";
@use "features/productcard";
@use "features/infocardpickup";
@use "base/reset";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.maininfo {
  padding: 0 1.3rem;
  background-color: #f7f7f7;
  @include desktop {
    transform: translateY(-80px);
  }
}
